<%= form_for(@service) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name,'Nome' %><br>
    <%= f.text_field :name,:class=>"form-control" %>
  </div>
  <!--<div class="col-md-1">
    <%= f.label :number ,'Numero' %><br>
    <%= f.number_field :number,:class=>"form-control" %>
  </div>-->

    <div>
      <%= f.label :tempo,'Tempo Manutenção' %><br>
      <%= f.time_select :tempo,:class=>"form-control" %>
    </div>
  <div>
    <%= f.label :description,'Descrição' %><br>
    <%= f.text_area :description,:class=>"form-control" %>
  </div>
  <div>
    <%= f.label :ic_ids,'Itens de configuração relacionados' %><br>
    <%= f.collection_check_boxes( :ic_ids,Ic.all,:id,:name,:class=>"form-control") %>
  </div><br/>
  <div>
    <%= f.submit "Enviar", :class=>"btn btn-primary"%>
  </div>
<% end %>
