<h1>Listando Serviços</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Tombo</th>
      <th>Categoria</th>
      <th>Descrição</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.number %></td>
        <td><%= service.category %></td>
        <td><%= service.description %></td>
        <td><%= link_to 'Exibir', service ,:class=>'btn btn-info'%></td>
        <td><%= link_to 'Editar', edit_service_path(service),:class=>'btn btn-primary' %></td>
        <td><%= link_to 'Deletar', service, method: :delete, data: { confirm: 'Está certo disso?',:class=>'btn btn-success' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service', new_service_path %>
