<h1>Listando Serviços</h1>
<hr>
<table class="table">
  <thead>
  <tr>
    <th>Nome</th>
    <th>Descrição</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.description %></td>
        <% if can? :show , Service%>
            <td><%= link_to 'Exibir', service ,:class=>'btn btn-info'%></td>
        <%end
          if can? :update , Service
        %>
            <td><%= link_to 'Editar', edit_service_path(service),:class=>'btn btn-primary' %></td>
        <%end
          if can? :delete , Service%>
            <td><%= link_to 'Deletar', service, method: :delete, data: { confirm: 'Está certo disso?',:class=>'btn btn-success' } %></td>
        <%end%>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<%if can? :create, Service%>
<%= link_to 'Novo Serviço', new_service_path %>
<%end%>
