<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @service.number %>
</p>

<p>
  <strong>Category:</strong>
  <%= @service.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>Ic:</strong>
  <%= debug @service.ics%>
</p>
<table>
  <th>

  </th>
  <tr>
    <td>Nome</td>
    <td>Numero</td>
  </tr>
</table>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
