<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @service.number %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>Ic:</strong>
</p>
<table class="table">
  <tr></tr>
  <th>Numero</th>
  <th>Nome</th>

    <% @service.ics.each do |s|%>
      <tr>
    <td><%= s.number %></td>
    <td><%= s.name %></td>
      </tr>
    <%  end%>

</table>

<% files = Dir.glob("#{Rails.root}/public/services/#{@service.id}/*")
   files.each do |file|  %>
    <% f=file.split('/')%>
    <a href="/services/<%=@call.id%>/<%=f[-1] %>" target="_blank"><%=f[-1] %></a>
<% end %>

<%= link_to 'Voltar', services_path %>

