<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @service.number %>
</p>

<p>
  <strong>Category:</strong>
  <%= @service.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>Ic:</strong>
</p>
<table class="table">
  <tr></tr>
  <th>Nome</th>
  <th>Numero</th>

    <% @service.ics.each do |s|%>
      <tr>
    <td><%= s.number %></td>
    <td><%= s.name %></td>
      </tr>
    <%  end%>

</table>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>

