<%= form_for(@technic) do |f| %>
  <% if @technic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@technic.errors.count, "error") %> prohibited this technic from being saved:</h2>

      <ul>
      <% @technic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :level %><br>
    <%= f.number_field :level %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
