<h1>Listing technics</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @technics.each do |technic| %>
      <tr>
        <td><%= technic.user %></td>
        <td><%= technic.level %></td>
        <td><%= link_to 'Show', technic %></td>
        <td><%= link_to 'Edit', edit_technic_path(technic) %></td>
        <td><%= link_to 'Destroy', technic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Technic', new_technic_path %>
