<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    	<div class="jumbotron">
			<p id="notice"><%= notice %></p>

			<h1>
			  <%= @colaborador.user %>
			</h1>

			<p>
			  <strong>Cpf:</strong>
			  <%= @colaborador.cpf %>
			</p>

			<p>
			  <strong>Telefone:</strong>
			  <%= @colaborador.telefone %>
			</p>

			<p>
			  <strong>Endereco:</strong>
			  <%= @colaborador.endereco %>
			</p>

			<%= link_to 'Voltar', colaboradors_path %>
		</div>
	</div>
</div>
</div>
