<p id="notice"><%= notice %></p>

<p>
  <strong>Colaborador:</strong>
  <%= @colaborador.user.nome %>
</p>

<p>
  <strong>CPF:</strong>
  <%= @colaborador.cpf %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @colaborador.telefone %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @colaborador.endereco %>
</p>

<%= link_to 'Voltar', colaboradors_path %>
