<%= form_for(@call,:multipart=>'true') do |f| %>
  <% if @call.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@call.errors.count, "error") %> prohibited this call from being saved:</h2>

      <ul>
      <% @call.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= f.hidden_field :client_id ,:value=>current_user.id%>

    <!-- <div class="col-md-6">
    <%#= f.label :h_trabalhadas, "Horas Trabalhadas" %><br>
    <%#= f.time_select :h_trabalhadas,:class=>"form-control" %>
  </div>

  <div class="col-md-3">
    <%#= f.label :colaborador_id %><br>
    <%#= f.select :colaborador_id ,Colaborador.all.collect {|p| [ p.name, p.id ] },:class=>"form-control"%>
  </div>-->
    <%= f.hidden_field :estado,:value=>'Novo' ,:class=>"form-control"%>

    <div class="col-md-4">
      <%= f.label :description %><br>
      <%= f.text_area :description ,:class=>"form-control"%>
    </div>
    <div class="col-md-3">
      <%= f.label :files %><br>
      <%= f.file_field :files,:class=>"form-control" %>
    </div>
    <div class="col-md-12">
      <%= f.label :service_id %><br>
      <%= f.collection_check_boxes( :service_ids,Service.all,:id,:name,:class=>"form-control") %>
    </div>
  <div class="col-md-12">
    <%= f.submit 'Enviar', :class=>"btn btn-primary"%>
  </div>
<% end %>
