<%= form_for(@call) do |f| %>
  <% if @call.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@call.errors.count, "error") %> prohibited this call from being saved:</h2>

      <ul>
      <% @call.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :technic_id %><br>
    <%= f.text_field :technic_id,:class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :client_id %><br>
    <%= f.text_field :client_id,:class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :number %><br>    ,
    <%= f.number_field :number,:class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state ,:class=>"form-control"%>
  </div>
  <div class="field">
    <%= f.label :time_worked %><br>
    <%= f.number_field :time_worked ,:class=>"form-control"%>
  </div>
    <div class="field">
      <%= f.label :service_ids %><br>
      <%= f.collection_check_boxes(:service_ids,Service.all,:id,:name,:class=>"form-control") %>
    </div>
  <div class="actions">
    <%= f.submit  "Cadastrar",:class=>"btn btn-primary"%>
  </div>
<% end %>
