<p id="notice"><%= notice %></p>

<p>
  <strong>Technic:</strong>
  <%= @call.technic %>
</p>

<p>
  <strong>Client:</strong>
  <%= @call.client %>
</p>

<p>
  <strong>Number:</strong>
  <%= @call.number %>
</p>

<p>
  <strong>State:</strong>
  <%= @call.state %>
</p>

<p>
  <strong>Time worked:</strong>
  <%= @call.time_worked %>
</p>
<%= debug @call.services%>

<%= link_to 'Edit', edit_call_path(@call) %> |
<%= link_to 'Back', calls_path %>
