<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @call.description %>
</p>

<p>
  <strong>Service:</strong>
  <%= @call.service %>
</p>

<p>
  <strong>Files:</strong>
  <%= @call.files %>
</p>

<p>
  <strong>Client:</strong>
  <%= @call.client %>
</p>

<p>
  <strong>H trabalhadas:</strong>
  <%= @call.h_trabalhadas %>
</p>

<p>
  <strong>Colaborador:</strong>
  <%= @call.colaborador %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @call.estado %>
</p>

<%= link_to 'Edit', edit_call_path(@call) %> |
<%= link_to 'Back', calls_path %>
