<p id="notice"><%= notice %></p>
<% if @call.estado !="Resolvida"%>
<% if ColaboradorsCalls.where(:colaborador=>current_user.colaborador.id,:call_id=>@call.id).order("created_at ASC") %>
    <%= link_to "Resolvida", "/resolvida/"+@call.id.to_s ,:class=>"btn btn-default"%>
    <%= link_to 'Escalonar',"/escalonar/"+@call.id.to_s ,:class=>"btn btn-default" %>
<%else%>
    <%= link_to 'Resolver',"/resolver/"+@call.id.to_s ,:class=>"btn btn-default" %>
<%end%>
<%end%>
<p>
  <strong>Description:</strong>
  <%= @call.description %>
</p>
<p>
  <strong>Files:</strong>
  <%= @call.files %>
</p>

<p>
  <strong>Client:</strong>
  <%= @call.client %>
</p>

<p>
  <strong>H trabalhadas:</strong>
  <%= @call.h_trabalhadas %>
</p>

<p>
  <strong>Colaborador:</strong>
  <%=  @call.colaboradors %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @call.estado %>
</p>
<p>
  <strong>Escalonado:</strong>
  <%= @call.escalonado %>
</p>
<p>
  <strong>Serviços Relacionados ao chamado #<%=@call.id%></strong>
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Nome</th>
    </tr>
    <% @call.services.each do |s| %>
  <tr>
    <td><%= s.id%></td>
    <td><%= s.name%></td>
    </tr>
    <%end%>
  </table>
<% files = Dir.glob("#{Rails.root}/public/calls/#{@call.id}/*")
   files.each do |file|  %>
     <% f=file.split('/')%>
    <a href="/calls/<%=@call.id%>/<%=f[-1] %>" target="_blank"><%=f[-1] %></a>
   <% end %>


</p>



<%= link_to 'Edit', edit_call_path(@call) %> |
<%= link_to 'Back', calls_path %>
