<h1>Listando Incidentes</h1>
<hr>
<table class="table">
  <thead>
    <tr>
      <th>Call</th>
      <th>Comentario</th>
      <th>Anexo</th>
      <th>Colaborador</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @incidentes.each do |incidente| %>
      <tr>
        <td><%= link_to "#"+incidente.call.id.to_s,incidente.call %></td>
        <td><%= incidente.comentario %></td>
        <td><%= incidente.anexo %></td>
        <td><%= incidente.colaborador.user.nome %></td>
        <td><%= link_to 'Show', incidente %></td>
        <td><%= link_to 'Edit', edit_incidente_path(incidente) %></td>
        <td><%= link_to 'Destroy', incidente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%if can? :create, Incidente%>
<%= link_to 'Novo Incidente', new_incidente_path %>
 <% end %>