<p id="notice"><%= notice %></p>

<p>
  <strong>Chamado:</strong>
  <%= @incidente.call %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @incidente.comentario %>
</p>

<p>
  <strong>Anexo:</strong>
  <%= @incidente.anexo %>
</p>

<p>
  <strong>Colaborador:</strong>
  <%= @incidente.colaborador %>
</p>

<% files = Dir.glob("#{Rails.root}/public/incidentes/#{@incidente.id}/*")
   files.each do |file|  %>
    <% f=file.split('/')%>
    <a href="/incidentes/<%=@incidente.id%>/<%=f[-1] %>" target="_blank"><%=f[-1] %></a>
<% end %>

<%= link_to 'Edit', edit_incidente_path(@incidente) %> |
<%= link_to 'Back', incidentes_path %>
