<p id="notice"><%= notice %></p>

<p>
  <strong>Call:</strong>
  <%= @incidente.call %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @incidente.comentario %>
</p>

<p>
  <strong>Anexo:</strong>
  <%= @incidente.anexo %>
</p>

<p>
  <strong>Colaborador:</strong>
  <%= @incidente.colaborador %>
</p>

<%= link_to 'Edit', edit_incidente_path(@incidente) %> |
<%= link_to 'Back', incidentes_path %>
