<h1>Listando perfis</h1>
<hr>
<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @perfils.each do |perfil| %>
      <tr>
        <td><%= perfil.nome %></td>
        <td><%= perfil.descricao %></td>
        <td><%= link_to 'Show', perfil %></td>
        <td><%= link_to 'Edit', edit_perfil_path(perfil) %></td>
        <td><%= link_to 'Destroy', perfil, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Perfil', new_perfil_path %>
