<h1>Listing ics</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ics.each do |ic| %>
      <tr>
        <td><%= ic.name %></td>
        <td><%= ic.number %></td>
        <td><%= ic.description %></td>
        <td><%= link_to 'Show', ic %></td>
        <td><%= link_to 'Edit', edit_ic_path(ic) %></td>
        <td><%= link_to 'Destroy', ic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ic', new_ic_path %>
