<%= form_for(@solution,:multipart=>'true') do |f| %>
  <% if @solution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@solution.errors.count, "error") %> prohibited this solution from being saved:</h2>

      <ul>
      <% @solution.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :call_id,'Chamado' %><br>
    <%= f.select :call_id ,ColaboradorsCalls.select('distinct(call_id)').where(:colaborador_id=>current_user.id).collect {|p| [ p.call_id, p.call_id ] },:class=>"form-control"%>


        </div>
  <div>
    <%= f.label :anexo %><br>
    <%= f.file_field :anexo,:class=>"form-control" %>
  </div>
    <%= f.hidden_field :colaborador_id, :value=>current_user.id %>
    <div>
      <%= f.label :comentario %><br>
      <%= f.text_area :comentario,:class=>"form-control" %>
    </div>
  <div>
    <%= f.submit :class=>"btn btn-primary"%>
  </div>
<% end %>
