<%= form_for(@solution) do |f| %>
  <% if @solution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@solution.errors.count, "error") %> prohibited this solution from being saved:</h2>

      <ul>
      <% @solution.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-2">
    <%= f.label :call_id %><br>
    <%= f.text_field :call_id,:class=>"form-control" %>
  </div>
  <div class="col-md-4">
    <%= f.label :anexo %><br>
    <%= f.text_field :anexo,:class=>"form-control" %>
  </div>
  <div class="col-md-2">
    <%= f.label :colaborador_id %><br>
    <%= f.text_field :colaborador_id,:class=>"form-control" %>
  </div>
    <div class="col-md-6">
      <%= f.label :comentario %><br>
      <%= f.text_area :comentario,:class=>"form-control" %>
    </div>
  <div class="col-md-12">
    <%= f.submit :class=>"btn btn-primary"%>
  </div>
<% end %>
