<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="jumbotron">
        <p id="notice"><%= notice %></p>

        <h1>
          <%= link_to '#'+@solution.call.id.to_s,@solution.call %>
        </h1>
        <hr>
        <p>
          <strong>Comentario:</strong>
          <%= @solution.comentario %>
        </p>

        <p>
          <strong>Anexo:</strong>
          <%= @solution.anexo %>
        </p>

        <p>
          <strong>Colaborador:</strong>
          <%= @solution.colaborador.user.nome %>
        </p>

        <% files = Dir.glob("#{Rails.root}/public/solutions/#{@solution.id}/*")
           files.each do |file|  %>
            <% f=file.split('/')%>
            <a href="/solutions/<%=@solution.id%>/<%=f[-1] %>" target="_blank"><%=f[-1] %></a>
        <% end %>

        <%= link_to 'Voltar', solutions_path %>
      </div>
    </div>
  </div>
</div>
