<p id="notice"><%= notice %></p>

<p>
  <strong>Call:</strong>
  <%= link_to '#'+@solution.call.id.to_s,@solution.call %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @solution.comentario %>
</p>

<p>
  <strong>Anexo:</strong>
  <%= @solution.anexo %>
</p>

<p>
  <strong>Colaborador:</strong>
  <%= @solution.colaborador.user.nome %>
</p>

<% files = Dir.glob("#{Rails.root}/public/solutions/#{@solution.id}/*")
   files.each do |file|  %>
    <% f=file.split('/')%>
    <a href="/solutions/<%=@solution.id%>/<%=f[-1] %>" target="_blank"><%=f[-1] %></a>
<% end %>

<%= link_to 'Edit', edit_solution_path(@solution) %> |
<%= link_to 'Back', solutions_path %>
