<!DOCTYPE html>
<html>
<head>
  <title>Imc</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
    <% if current_user.colaborador %>
        <%= render 'layouts/menu_colaborador' %>
    <% elsif current_user.client%>
        <%= render 'layouts/menu_cliente' %>

<% end %>
<% end %>
<br>
<br>
<div class="container theme-showcase">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</div>
</body>
</html>
